.about {
   height: rem(785px);
   display: grid;
   grid-template-rows: 1fr 8fr;
   margin: 0 auto;
   padding-top: 0;
   margin-top: rem(100px);
}

.about__title {
   display: flex;
   justify-content: center;

   h2 {
      margin-bottom: rem(50px);
      margin-top: 0;
   }
}

.about__wrapper {
   display: flex;
   position: relative;
   max-width: rem(1820px);
   align-items: center;
}

.about__text {
   width: pr(1820, 791);
   z-index: 10;
   border-right: 15px solid $color3;
   background-color: #fff;
   padding: rem(20px) rem(30px) rem(20px) rem(50px);


   span {
      color: $color3;
      font-weight: 700;
   }

   p {
      font-weight: 400;
      line-height: 125%;
      font-size: rem(18px);
   }
}

.about__img {
   width: pr(1820, 1407);
   height: 100%;
   background-image: url(../img/about/01.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right;
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: -1;
}