.benefits {
   margin-top: rem(100px);
   max-width: rem(1818px);
   // min-height: rem(462px);
   padding: rem(20px) rem(10px);
}

.benefits__title {
   display: flex;
   justify-content: center;
   margin-bottom: rem(50px);
}

.benefits__items {
   display: grid;
   grid-template-columns: repeat(3, minmax(250px, 586px));
   grid-template-rows: minmax(150px, 350px);
   gap: rem(30px);
   position: relative;
   overflow: hidden;

   svg {
      position: absolute;
      top: calc(50% - 15px);
   }

   .left {
      position: absolute;
      left: 10px;
   }

   .right {
      right: 10px;
   }


}



.benefits__item {
   position: relative;
   // min-height: rem(350px);
   color: #fff;
   overflow: hidden;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: end;
   padding: 30px;

   &:hover {
      .card__text {
         display: block;
      }
   }

   .card__title {
      display: inline-block !important;
   }

   .card__title::after {
      width: 50%;
      display: block;
      height: 2px;
      background-color: $color3;
      content: "";
   }

   img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
   }
}

.card {}

.card__title {}

.card__text {
   margin-top: 18px;
}