.benefits {
   margin-top: rem(100px);
   max-width: rem(1818px);
   padding: rem(20px) rem(10px);

   @include tablet {
      min-height: rem(450px);
   }
}

.benefits__title {
   display: flex;
   justify-content: center;
   margin-bottom: rem(50px);
}

.benefits__items {
   display: grid;
   grid-template-columns: repeat(3, minmax(250px, 586px));
   grid-template-rows: minmax(150px, 350px);
   gap: rem(30px);
   position: relative;
   overflow: hidden;

   svg {
      position: absolute;
      top: calc(50% - 15px);
   }

   .left {
      position: absolute;
      left: 10px;
   }

   .right {
      right: 10px;
   }
}

.card__wrapper {
   transform: translateY(70px);
   transition: all 0.8s;
}

.benefits__item {
   position: relative;
   color: #fff;
   overflow: hidden;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: end;
   padding: 30px;


   &:hover {
      .card__wrapper {
         transform: translateY(0px);
      }
   }

   .card__title {
      display: inline-block !important;
      font-size: rem(36px);
      font-weight: 700;
   }

   .card__title::after {
      width: 50%;
      display: block;
      height: 2px;
      background-color: $color3;
      content: "";
   }

   img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
   }
}

.card__text {
   margin-top: 18px;
   font-size: rem(18px);
   font-weight: 400;
}

@include notepad {


   .benefits__items div:nth-child(3) {
      display: none;
   }

   .benefits__items {
      grid-template-columns: repeat(2, 1fr);
   }
}

@include tablet {

   .benefits__items {
      display: block;
      // grid-template-columns: 1fr;
      // justify-content: center;
   }

   .benefits__item {
      position: relative;
      display: block;
      width: 90%;
      min-height: rem(350px);
      margin: 0 auto;

      img {
         display: block;
         position: relative;
         width: 100%;
         height: auto;
      }
   }

   .benefits__items div:nth-child(2) {
      display: none;
   }
}