* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: "Proxima Nova";
   font-weight: 700;
   font-size: $root-font-size;
   color: $color4;

}


//Оболочка=========================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.btn {
   background-color: $color3;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border-radius: rem(3px);


   &:hover {
      background-color: #38a37c;
   }

   p {
      color: #ffff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: rem(18px);

   }

}

.hidden {
   display: none !important;
}

.title {
   font-size: rem(48px);
   line-height: rem(60px);
   margin: 0 auto;
   color: $color4;
   position: relative;

   &::after {
      content: "";
      display: block;
      width: rem(20px);
      height: rem(50px);
      background-color: $color3;
      position: absolute;
      top: 5px;
      left: -5px;
      z-index: -1;
   }
}

//основная сетка====================================================================
.my-container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: rem(20px) rem(10px);

   // @media (max-width: $md1) {
   //    max-width: 970px;
   // }

   // @media (max-width: $md2) {
   //    max-width: 750px;
   // }

   // @media (max-width: $md3) {
   //    max-width: none;
   //    padding: 0 10px;
   // }
}


@mixin notebook {
   @media screen and (max-width:1260px) {
      @content;
   }
}

@mixin notepad {
   @media screen and (max-width:992px) {
      @content;
   }
}

@mixin tablet {
   @media screen and (max-width:768px) {
      @content;
   }
}

@mixin phone {
   @media screen and (max-width:480px) {
      @content;
   }
}


// @include tablet {
//    max-width: $md3;
// }