.header {}

.header__content {}

.container {}

.header__contacts {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 10px;
}

.contacts {
   display: flex;
   align-items: center;
   font-weight: 700;
}

.contacts__text {}

.contacts__icons {
   svg {
      margin: 0 15px;
   }
}

.contacts__phone {
   display: flex;
   margin-left: 50px;

   svg {
      margin: 0 5px;
   }

   select {
      border: none;
      font-weight: 700;
   }

   select:active,
   select:focus {
      outline: none
   }
}


.header__list {}

.list {
   display: flex;
   position: relative;

   li {
      list-style: none;
      margin-left: 10px;
      text-transform: uppercase;
      font-weight: 700;
      line-height: rem(22.5px);
      cursor: pointer;
   }


   li:after {
      width: 100%;
      display: block;
      height: 2px;
      background-color: $color3;
      content: "";
      transition: opacity 0.3s ease-out;
      opacity: 0;
   }

   li:hover:after,
   li:focus:after {
      opacity: 1;
   }
}


.header__line {
   width: 100%;
   padding: 0;
   color: $color3;
   height: 1px;
}

.header__title {
   min-height: rem(100px);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 10px;
}

.header__title-list {
   ul {
      display: flex;
   }

   li {
      margin-right: rem(5px);
      list-style: none;
   }


   select {
      border: none;
      text-transform: uppercase;
      font-family: proximanova_bold;
      font-weight: bold;
   }

   select:active,
   select:focus {
      outline: none
   }
}

.header__title-logo {
   display: flex;
   align-items: center;
   gap: rem(15px);

   h2 {
      font-weight: 700;
      font-size: rem(36px);
   }

   span {
      color: $color3;
   }
}

.header__title-basket {
   display: flex;
   align-items: center;
   gap: rem(15px);

   .basket {
      display: flex;
      align-items: center;
      gap: rem(5px);
   }
}

