.header__contacts {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 10px;
}

.contacts {
   display: flex;
   align-items: center;
   font-weight: 700;
}

.contacts__icons {
   svg {
      margin: 0 15px;
   }
}

.contacts__phone {
   display: flex;
   margin-left: 50px;

   svg {
      margin: 0 5px;
   }

   select {
      border: none;
      font-weight: 700;
   }

   select:active,
   select:focus {
      outline: none
   }
}

.navbar-nav {
   display: flex;
   position: relative;

   li {
      list-style: none;
      margin-left: 10px;
      text-transform: uppercase;
      font-weight: 700;
      line-height: rem(22.5px);
      cursor: pointer;

      a {
         color: $color4;
         text-decoration: none;
      }
   }

   li:after {
      width: 100%;
      display: block;
      height: 2px;
      background-color: $color3;
      content: "";
      transition: opacity 0.3s ease-out;
      opacity: 0;
   }

   li:hover:after,
   li:focus:after {
      a {
         color: $color4;
      }

      opacity: 1;
   }
}


.header__line {
   width: 100%;
   padding: 0;
   color: $color3;
   height: 1px;
}

.header__title {
   min-height: rem(100px);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 10px;
   position: relative;
}

.header__title-list {
   ul {
      display: flex;
   }

   li {
      margin-right: rem(5px);
      list-style: none;
   }
}

.menu__icon {
   display: none;
   position: relative;
   width: rem(45px);
   height: rem(35px);

   span {
      top: 50%;
   }

   &::after,
   &::before,
   & span {
      display: block;
      content: "";
      width: 100%;
      height: rem(3px);
      background-color: $color3;
      position: absolute;
      left: 0;
   }

   &::after {
      top: 0;
   }

   &::before {
      bottom: 0;
   }
}

.menu__icon.active {
   span {
      display: none;
   }

   &::after {
      transform: rotate(-140deg);
      top: 18px;
   }

   &::before {
      transform: rotate(140deg);
      bottom: 14px;
   }
}

.burger__wrapper {
   display: none;
}

.burger__menu {
   position: fixed;
   top: rem(50px);
   left: 0;
   right: 0;
   width: 100%;
   background-color: rgba(125, 180, 176, 0.85);
   // transform: translateY(-120%);
   transform: translateX(100%);
   transition: all 0.8s;
}

.burger__menu.active {
   // transform: translateY(0);
   transform: translateX(0);
}

.burger-nav {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: rem(30px);
   margin: rem(30px) 0;
}

.burger-link {
   font-size: rem(24px) !important;
}

@include notebook {

   .header__title-list,
   .contacts__text {
      display: none;
   }

   .contacts__phone {
      margin-left: rem(10px);
   }

   .contacts__icons {
      svg {
         margin: 0 5px;
      }
   }
}

@include notepad {
   .contacts__icons {
      display: none;
   }

}

@include tablet {

   .menu__icon,
   .burger__wrapper {
      display: block;
   }

   .header__contacts,
   .header__line,
   .header__title-basket {
      display: none !important;
   }

   .my-container {
      height: rem(50px);
      width: 100%;
   }

   .header__title {
      min-height: rem(50px) !important;
      overflow: hidden;
      padding: 0 rem(10px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 2;
   }

   .header__title-logo,
   .logo {
      height: rem(50px);
      display: flex;
      align-items: center;

      & img {
         height: rem(40px);

      }
   }
}

.header__item {
   display: flex;
   align-items: center;

   a {
      text-transform: uppercase;
      font-weight: 700;
      color: $color4;
      text-decoration: none;
      font-size: rem(18px);
   }
}

.list,
.burger-item {
   a {
      text-transform: uppercase;
      font-family: proximanova_bold;
      font-weight: 700;
      color: $color4;
      text-decoration: none;
      font-size: rem(18px);
   }
}

.header__title-logo {
   display: flex;
   align-items: center;
   gap: rem(15px);
}

.contacts__icons {
   svg {
      fill: $color4;
   }
}

.logo__title {
   h2 {
      font-weight: 700;
      font-size: rem(36px);
   }

   span {
      color: $color3;
   }
}

.header__title-basket {
   display: flex;
   align-items: center;
   gap: rem(15px);

   .basket {
      display: flex;
      align-items: center;
      gap: rem(5px);
   }
}